.container{
	padding-top: 10px;
}
.pagetitle{
	font-family: 'Merienda', cursive;
	font-weight: bolder;
	font-size: 24px;
}
.nav-item{
	width: 100%;
	text-align: center;
}
.navbar-nav{
	width: 100%;
	background-color: black;
}
.nav-arrow .fa-arrow:hover{
	background: #666666;
	transition: background 0.2s linear 0s;
	border: 2px solid #fff;
}
.p{
	font-weight: 900;
}
nav.indicators ul li{
	list-style-type: none;
	display: inline;
}
nav.indicators{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.logo:hover{
	z-index: 100;
	height: 50px;
	width: 50px;
}
nav.indicators ul li{
	padding: 0 5px 0 5px;
	border: 1px solid black;
	border-radius: 50%;
	color: black;
}
nav.indicators ul li:hover{
	background-color: black;
	color: white;
}
nav.indicators ul li a:link, a:visited{
	color: black;
	text-decoration: none;
}
.nav-link{
	height: 40px;
}
.current{
	opacity: .2;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #FF8C00;
    font-weight: 800;
}
.circle{
	height: 210px;
	width: 210px;
	border: 2px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.rect{
	font-size: 14px;
	height: auto;
	width: 70%;
	border: 2px solid black;
	border-radius: 10px;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: scroll;
	background-image: linear-gradient( #bbd2c5, #536976);
}
.testimonial{
	text-align: justify;
}
.circleltr{
	position: relative;
	left: 60px;
}
.rectltr{
	position: relative;
	right: 20px;
}
.ltr{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin: 0 auto;
}
.pltr{
	display: flex;
	align-self: flex-end;
	padding-right: 20px;
}
.prtl{
	padding: 0 0 0 20px;
}
.testimonialltr{
	padding: 10px 20px 0 85px;
}
.rtl{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}
.testimonialrtl{
	padding: 10px 150px 0 20px;
}
.circlertl{
	position: relative;
	right: 80px;
}
.rectrtl{
	position: relative;
	left: 60px;
}
.circle img{
	height: 206px;
	width: 206px;
	border-radius: 50%;

}
.imgmobile{
	border: 2px solid black;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
.mobile{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	height:auto;
	width: auto;
	margin: 0;
}


